<div class="container">
  <h1>ngx-sand-typeahead</h1>
  <ngx-sand-typeahead (searchChange)="onSearch($event)" [disabled]="disabled" (valueSelect)="onSelect($event)"
    (blurInput)="onBlur($event)" (clickInput)="onClick($event)" [options]="dropdowndata" [settings]="settings"   
    [itemTemplate]="itemTemplateStatic" [notFoundTemplate]="notFound">
  </ngx-sand-typeahead>
  <ng-template #itemTemplateStatic let-item let-position="index">
    <a [innerHTML]="item.name"></a>
  </ng-template>

  <ng-template #notFound let-noDataText >
    <a [innerHTML]="noDataText"></a>
  </ng-template>





  <form  autocomplete="off" novalidate [formGroup]="reactiveForm" (ngSubmit)="submitReactiveForm()">
    <h1>ngx-sand-typeahead</h1>
    <ngx-sand-typeahead  formControlName="name" (searchChange)="onSearch($event)" [attr.disabled]="disabled" (valueSelect)="onSelect($event)"
      (blurInput)="onBlur($event)" (clickInput)="onClick($event)" [options]="dropdowndata" [settings]="settings"  [itemTemplate]="itemTemplateStatic">
    </ngx-sand-typeahead>
    <ng-template #itemTemplateStatic let-item let-position="index">
      <!-- <a [innerHTML]="item.name"></a>
      <span>{{position}}</span> -->
      <div>{{position}}{{item.name}} </div>
    </ng-template>
    <button class="btn" type="submit">Submit</button>
  </form>
  <pre>{{ reactiveForm.value | json }}</pre>
</div>
<div class="footer">
  <a target="_blank" href="https://github.com/SandeepBalachandran">Github</a>
  <a target="_blank" href="https://www.linkedin.com/in/sandeep-b/">LinkedIn</a>
</div>
<router-outlet></router-outlet>